@model MaintinfoBo.BonSortie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BonSortie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleSortie.NomArticle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleSortie.NomArticle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depanneur.NomDepanneur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depanneur.NomDepanneur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantiteSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantiteSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDemande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDemande)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NumSortie }) |
    @Html.ActionLink("Back to List", "Index")
</p>
